sdk.dir=/path/to/your/android/sdk
AMAP_KEY=cd2558b2b38bb84a8c9d3a437e837df1
CLOUDBASE_ENV_ID=dzf-001-0gl99mz4f85420bb
CLOUDBASE_SECRET_ID=YOUR_CLOUDBASE_SECRET_ID
CLOUDBASE_SECRET_KEY=YOUR_CLOUDBASE_SECRET_KEY
